{% extends 'base_admin.html' %}
{% load static %}

{% block content %}
<div class="lg:px-8 min-h-screen pb-6">
    <div class="flex flex-col sm:flex-row sm:justify-between items-center gap-4 mb-6">
        <!-- ช่องค้นหาสินค้า -->
        <form method="GET" action="{% url 'product_list' %}" class="flex flex-wrap sm:flex-nowrap gap-2 w-full max-w-xl">
             <!-- Dropdown ประเภทสินค้า -->
            <div class="flex-shrink-0">
                <label for="category" class="sr-only">ประเภทสินค้า</label>
                <select id="category" name="category" class=" border border-gray-300 bg-white px-4 py-2 pr-10 rounded-md text-gray-700 w-full">
                    <option value="">-- ทุกประเภท --</option>
                    {% for key, value in category_choices %}
                        <option value="{{ key }}" {% if key == selected_category %}selected{% endif %}>
                            {{ key }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <!-- ช่องค้นหา -->
            <div class="flex-grow">
                <label for="search" class="sr-only">ค้นหา</label>
                <input type="search"
                       name="search"
                       id="search"
                       placeholder="ค้นหาชื่อสินค้า"
                       value="{{ request.GET.search  }}"
                       class="px-4 py-2 border border-gray-300 rounded-md w-full"/>
            </div>

            <!-- ปุ่มค้นหา -->
            <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded-md shadow flex-shrink-0 hover:bg-blue-600 transition">
                ค้นหา
            </button>

            <!-- ลิงก์รีเซ็ต -->
            <a href="{% url 'product_list' %}"
               class="border border-gray-400 text-gray-700 px-4 py-2 rounded-md shadow-sm hover:bg-gray-100 hover:text-gray-900 transition duration-300 whitespace-nowrap text-center">
                รีเซ็ต
            </a>

        </form>
        
        <!-- ปุ่มเพิ่มสินค้า -->
        <a href="{% url 'product_create' %}" 
           class="flex items-center gap-2 bg-green-600 text-white py-2 px-4 rounded-md shadow hover:bg-green-700 transition">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            <span class="hidden lg:inline">เพิ่มสินค้า</span>
        </a>
    </div>

    <!-- แสดง messages success-->
    {% include "components/alert/alert_message.html" with messages=messages %}

    <!-- ตารางแสดงสินค้า -->
    <div class="overflow-x-auto rounded-lg shadow-lg">
        <table class="min-w-full bg-white text-left">
            <thead>
                <tr class="bg-gray-300 text-gray-700">
                    <th class="px-6 py-3 min-w-[150px]">รหัสสินค้า</th>
                    <th class="px-6 py-3 min-w-[150px]">ชื่อสินค้า</th>
                    <th class="px-6 py-3 min-w-[150px]">ประเภทสินค้า</th>
                    <th class="px-6 py-3 min-w-[100px]">ราคา<span class="text-gray-700 font-medium ml-2">(ต่ำสุด - สูงสุด)</span></th>
                    <th class="px-6 py-3 text-center">จัดการ</th>
                </tr>
            </thead>
        
            <tbody id="product-list" class="divide-y divide-gray-200">
                {% for product in page_obj %}
                    <tr class="hover:bg-gray-100 transition">
                        <td class="px-6 py-3">{{ product.id }}</td>
                        <td class="px-6 py-3">{{ product.name }}</td>
                        <td class="px-6 py-3">{{ product.category }}</td>
                        
                        <!-- ตรวจสอบราคาของสินค้า -->
                        {% if product.min_price == product.max_price %}
                            <td class="px-6 py-3">{{ product.min_price }}</td>
                        {% else %}
                            <td class="px-6 py-3">{{ product.min_price }} - {{ product.max_price }}</td>
                        {% endif %}
                    
                        <td class="px-6 py-3 flex justify-between items-center">
                            <a href="{% url 'product_edit' product.id %}" 
                               class="bg-gray-100 text-blue-500 py-1 px-3 rounded-md shadow hover:bg-gray-200 transition flex items-center gap-2">
                               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                  <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                                  <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                                </svg>
                                <span>แก้ไข</span>
                            </a>
                            <button class="delete-btn bg-red-500 text-white py-1 px-3 rounded-md shadow hover:bg-red-600 transition flex items-center gap-2"
                                    data-id="{{ product.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-4 pointer-events-none">
                                  <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                                </svg>
                                ลบ
                            </button>
                        </td>
                    </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="px-6 py-3 text-center text-gray-500">
                        ไม่มีสินค้า
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    {% include "components/admin/pagination.html" with page_obj=page_obj query_params=query_params %}

</div>

<script>
    // จัดการเหตุการณ์การลบ ใช้ event delegation กับองค์ประกอบพ่อแม่ (#product-list)
    document.getElementById('product-list').addEventListener('click', function(event) {
        // ตรวจสอบว่า element ที่คลิกเป็นปุ่มลบหรือไม่
        if (event.target.matches('.delete-btn')) {
            const productID = event.target.getAttribute('data-id');
    
            Swal.fire({
                title: 'ยืนยันการลบข้อมูล',
                text: 'คุณแน่ใจหรือไม่ว่าต้องการลบข้อมูลนี้?',
                customClass: {
                    popup: 'rounded-2xl shadow-2xl bg-white max-w-md', // กรอบป๊อปอัป
                    actions: 'flex flex-row-reverse gap-4', // สลับตำแหน่งปุ่มและเพิ่มระยะห่าง
                    confirmButton: 'bg-red-500 text-white px-6 py-2 rounded-lg hover:bg-red-600 transition-all duration-200', // ปุ่มยืนยัน
                    cancelButton: 'bg-gray-300 text-gray-700 px-6 py-2 rounded-lg hover:bg-gray-400 transition-all duration-200', // ปุ่มยกเลิก
                },
                showCancelButton: true,
                cancelButtonText: 'ยกเลิก',
                confirmButtonText: 'ยืนยันการลบ',
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/admin/product/delete/${productID}/`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    }).then(response => {
                        if (response.ok) {
                            location.reload();  // รีเฟรชหน้าเพื่อแสดงข้อมูลใหม่
                        } else {
                            Swal.fire('เกิดข้อผิดพลาด!', '', 'error');
                        }
                    });
                }
            });
        }
    });
</script>
{% endblock %}
