<header class="fixed top-0 left-0 z-40 w-full bg-white border-b border-gray-200 px-6 py-2 shadow-sm">
    <div class="flex items-center justify-between h-[48px]">

        <!-- ส่วนของโลโก้ + ปุ่มเปิด -->
        <div class="flex items-center">
           <!-- ปุ่มเปิด Sidebar บนหน้าจอเล็ก -->
            <button class="lg:hidden p-1 my-6 mr-2 md:mr-5  text-gray-500 rounded-lg hover:bg-gray-200" id="toggleSidebarBtn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                </svg>
            </button>

            <a href="{% url 'dashboard' %}" class="flex items-center">
                {% load static %}
                <img src="{% static 'images/logo/X_Black_Logo1.svg' %}" alt="CNStyleShop Logo" class="h-12 w-auto">
            </a>
        </div>

        <!-- ส่วนข้อมูลของแอดมิน -->
        <div class="flex items-center gap-6">
            <div class="flex items-center space-x-4">
                <img src="{{ user.profile_picture.url }}" alt="Profile picture of {{ user.username }}" 
                     class="w-10 h-10 object-cover rounded-full border-2 border-gray-400 hover:scale-105 transition-transform duration-300">
                <div class="flex flex-col items-start">
                    <span class="text-gray-800 font-semibold text-md">{{ user.username }}</span>
                    <span class="text-gray-500 text-xs">{{ user.email }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
